[2018-10-30 14:26] alexprey opened #1 "Event name is not parsed correct if fired with identifier instead string constant"
Event name is not parsed correct if fired with identifier instead string constant

[code]

## Actual result

[code]

## Expected result

[code]

**UPD.** At 4.0.0 point this issue are partially fixed.

- [x] Support the top-level plain constants (`EVENT_MODAL_CLOSE`)
- [x] Support the top-level object-level constants (`EVENT.MODAL.CLOSE`)
- [x] Support the top-level object-level constants with acc

[2018-11-15 14:44] alexprey opened #2 "Component name sometimes are missing"

[2018-11-15 14:45] alexprey opened #3 "Property type is not parsed automatically"

[2018-11-19 14:21] alexprey commented on #3
Fixed

[2018-11-19 14:21] #3 closed

[2018-11-19 14:21] alexprey commented on #2
Fixed

[2018-11-19 14:21] #2 closed

[2018-11-21 13:30] ArdenIvanov opened #4 "Comment for data etc. is not provided if it has any keyword"
Comments like that are not attached to the description
[code]

[2018-11-21 13:47] alexprey commented on #4
@ArdenIvanov this is not a valid JSDoc syntax http://usejsdoc.org/tags-type.html, `@type` tag don't have a description part, like in `@param` tag

[2018-11-26 10:27] alexprey opened #5 "slots items have a private access level by default"
Slots items have a `private` access level by default, but should has a `public` access level

[2018-11-26 10:29] alexprey opened #6 "Component name generated from filename always in lower case"
Component name generated from filename always in lower case

[2018-12-06 14:58] alexprey opened #7 "Sometimes parser are stay in infinity loop"
Sometimes parser are stay in infinity loop while parsing complex component with external JS dependencies

[2018-12-07 10:56] alexprey commented on #7
The root cause of that - the long Regex query for `@param` keyword parsing, suggestion to rewrite and optimize regex

[2018-12-07 10:57] #7 closed

[2019-04-26 20:49] ArdenIvanov opened #8 "Svelte 3 support"

[2019-05-07 10:40] alexprey opened #9 "Implement Svelte component version detection"

[2019-05-07 10:43] alexprey opened #10 "Implement property detection"

[2019-05-07 10:43] alexprey opened #11 "Implement computed properties detection"

[2019-05-07 10:45] alexprey opened #12 "Implement components importing"

[2019-05-07 10:59] alexprey opened #13 "Implement markup parsing"

[2019-05-07 11:01] alexprey opened #14 "Implement dom events detection"

[2019-05-07 11:03] alexprey opened #15 "Implement refs detection"

[2019-05-07 11:10] alexprey opened #16 "Implement slots parsing"

[2019-05-07 11:15] alexprey opened #17 "Implement components events detection"

[2019-05-07 16:14] #9 closed

[2019-08-09 11:50] #17 closed

[2019-08-09 11:50] #15 closed

[2019-08-09 11:51] #14 closed

[2019-08-09 11:51] #13 closed

[2019-08-09 11:51] #12 closed

[2019-08-09 11:51] #11 closed

[2019-08-09 11:51] #10 closed

[2019-08-09 11:51] #8 closed

[2019-09-26 14:36] tyv commented on #4
@alexprey this is not working as well:

[code]

result
[code]

[2019-09-26 14:52] tyv commented on #4
descriptions at the components level are not working as well.
this example, does not wok for me https://github.com/alexprey/sveltedoc-parser/blob/master/test/svelte3/integration/components/components.import.svelte

[2019-11-25 16:01] alexprey opened #18 "Using of anonymous functions in event handlers fail parsing"
When "{function() {}}" in event handler used - parser failed

[2019-12-03 19:34] #18 closed

[2020-08-15 17:40] TheComputerM opened #23 "How to add descriptions for actions and slots in Svelte v3"
Looking at the README, it is very hard to understand how to add descriptions for actions and slots in Svelte v3

[2020-08-15 18:06] alexprey commented on #23
Hi!
Hm, I think that is a good idea to add example of documentation that can be parsed by this package.
Answering on your question, slots can be described by following format:

[code]

What you mean for `actions in svelte3`? Actually in Svelte 3 actions is just a functions https://svelte.dev/docs#use_action and that can be described by JSDoc

[code]

[2020-08-16 03:14] TheComputerM commented on #23
Ok thanks, I thought you had to do something with `use:Action`

[2020-08-16 03:14] #23 closed

[2020-08-16 08:04] alexprey commented on #23
Actually no, because it is a part of components internal stuff, not about component description. But, I think that it can be helpful and I can mark component-defined methods with `action` flag.

[2020-08-16 08:10] alexprey opened #24 "Mark component methods that used as actions in markup"
Parse `use:` attributes in component markup and mark methods of that component with `action` flag.

Examples:
[code]

[2020-08-16 08:11] alexprey opened #25 "Add examples with ideal component documentation"
Add few examples of what document structure can be parsed by this package

[2020-08-17 03:05] TheComputerM opened #26 "Does not generate variable for `export {variable as var}`"
Sample:
- Component: https://github.com/TheComputerM/svelte-materialify/blob/master/packages/svelte-materialify/src/components/Button/Button.svelte
- Result: https://github.com/TheComputerM/svelte-materialify/blob/master/packages/api-generator/src/Button.json

Expected:
Generate entry for `class` prop

Output:
Does not generate any entry for `class` or even `classes`

[2020-08-17 11:40] alexprey commented on #26
Thanks for reporint an issue!
Fix it and publish new version of package to use 😉

[code]
[code]

[2020-08-17 11:40] #26 closed

[2020-08-17 11:48] TheComputerM commented on #26
Thank you very much my dude.

[2020-08-17 12:17] alexprey commented on #26
NP, just let me know if you have any other issues with that

[2020-08-17 14:31] alexprey commented on #4
Hi @tyv,
sorry for long delay.
But looks like this PR https://github.com/alexprey/sveltedoc-parser/pull/20 fix both your problems

[2020-08-17 14:31] #4 closed

[2020-08-19 10:55] TheComputerM commented on #25
Shall I make a basic template? I do not know the full extent of sveltedoc-parser.

[2020-08-19 11:32] TheComputerM commented on #1
Yeah, having the same problem with svelte 3

[2020-08-19 11:47] TheComputerM commented on #1
If there is something like:
[code]

The event `dismiss` is properly shown in the doc, but if the function is exported:
[code]

The event `dismiss` is not shown at all.

[2020-08-19 12:49] alexprey opened #27 "The event is not expose when dispatch invoke from exported method of component"
If there is something like:
[code]

The event `dismiss` is properly shown in the doc, but if the function is exported:
[code]

The event `dismiss` is not shown at all.

_Originally posted by @TheComputerM in https://github.com/alexprey/sveltedoc-parser/issues/1#issuecomment-676213817_

[2020-08-19 12:50] alexprey commented on #1
@TheComputerM it looks like a new issue, I'm create a new one, thanks you for reporting!

[2020-08-19 14:31] TheComputerM commented on #25
[Example FIle](https://github.com/TheComputerM/svelte-materialify/blob/master/packages/svelte-materialify/src/components/Button/Button.svelte)
[Output](https://github.com/TheComputerM/svelte-materialify/blob/master/packages/api-generator/src/Button.json)

-------------------

[Example File](https://github.com/TheComputerM/svelte-materialify/blob/master/packages/svelte-materialify/src/components/Al

[2020-08-19 15:04] alexprey commented on #25
@TheComputerM Thanks!

One small note for your component docs
[code]
This statement means that you have types `button`, `reset`, `submit`. However, you pass the string values for this prop, so you should write comment in the following format (just provide commas):
[code]
And then in output you should have following:
[code]

[2020-08-19 15:05] TheComputerM commented on #25
When I use strings like you say, I get the output:
[code]

[2020-08-19 15:15] alexprey commented on #25
Yes, this format is a correct, I'm forgot about quotes in text property

[2020-08-19 16:36] alexprey commented on #27
Fixed

[2020-08-19 16:36] #27 closed

[2020-08-19 16:39] alexprey opened #28 "Inline event handlers in markup cause errors when used without quotes"
The following markup cause exception while parsing component

[code]

[2020-08-19 17:12] alexprey commented on #25
In [this commit](https://github.com/alexprey/sveltedoc-parser/commit/6726d213113d1c70f0b268ae94e66919e3011c39) I'm prepare base for writing examples of components and parsed document structure.

[2020-08-19 17:17] TheComputerM commented on #25
Nice

[2020-08-20 09:49] #6 closed

[2020-08-20 09:51] alexprey commented on #28
The cause of this issue is a not supported HTML format for statements like following:
[code]

[2020-08-20 10:11] alexprey opened #29 "Improve options validation"
At this point not all option parameters validated by the code. It will be nice to add checks for all options.

- [x] Write tests and check all possible ways
- [x] Add validation for all options
- [x] Ensure that all tests passed

[2020-08-20 10:36] alexprey opened #30 "@event JSDoc keyword is not emit event documentation"
https://jsdoc.app/tags-event.html

The following comment must provide description for event and provide class of event
[code]

Markup documentation also must be valid for events
[code]

[2020-08-21 15:07] TheComputerM opened #31 "Propogated events in markup should be parsed even it was before handled"
[File](https://github.com/TheComputerM/svelte-materialify/blob/master/packages/svelte-materialify/src/components/Checkbox/Checkbox.svelte)

[Output](https://github.com/TheComputerM/svelte-materialify/blob/master/packages/api-generator/src/Checkbox.json)

The `on:change` event attached to the checkbox input is not being registered in the output.

[2020-08-22 16:27] TheComputerM opened #32 "Event is not registered when dispatched from functions used as a parameters of another functions"
[File](https://github.com/TheComputerM/svelte-materialify/blob/c6b8a7889e86eb05b7f645401d3fb7d42f2dd819/packages/svelte-materialify/src/components/ExpansionPanels/ExpansionPanel.svelte#L63)

[Output](https://github.com/TheComputerM/svelte-materialify/blob/c6b8a7889e86eb05b7f645401d3fb7d42f2dd819/packages/api-generator/src/ExpansionPanel.json#L85)

Event dispatched not being registered.

[2020-08-24 11:03] alexprey commented on #31
Fixed

[2020-08-24 11:03] #31 closed

[2020-08-24 11:12] alexprey commented on #28
Actually the issue caused in base library that used for HTML parsing, so I'm create a PR in fork version of htmlparser2 package that still in progress https://github.com/alexprey/htmlparser2/pull/1

[2020-08-24 11:30] alexprey commented on #32
Fixed

[2020-08-24 11:30] #32 closed

[2020-08-25 09:50] alexprey commented on #28
Fixed and published with new package of version 3.0.3

[2020-08-25 09:50] #28 closed

[2020-08-25 09:57] alexprey opened #33 "Refactor tests to improve error messages"
Go through tests and refactor it: , add detailed descriptions for each check to make it easy to identify the cause.

- Extract common initialization and check logic to functions
- Add detailed descriptions for each check to make it easy to identify the cause of issue, f.ex: https://github.com/alexprey/sveltedoc-parser/blob/master/test/svelte3/integration/bind/bind.spec.js#L101
- Change notations t

[2020-08-25 10:11] alexprey commented on #5
Fixed and published in 3.0.4

[2020-08-25 10:11] #5 closed

[2020-08-27 13:44] alexprey opened #34 "Add support of TypeScript inside Svelte components"

[2020-11-27 19:50] soft-decay opened #35 "Object literals not supported in @type"
Adding this to `examples/Button.svelte`:

[code]

and running `yarn generate-examples` produces this `.json` (only showing relevant part) :

[code]

where `type.text` and `type.type` lose the closing curly brace.

I have a fix ready, but it adds a new dependency to the project (`"xregexp": "^4.4.0"`).
If you're open to this idea, I can create a PR.
I also added jsdoc unit tests for Object literals

[2020-11-27 20:26] alexprey commented on #35
Hi! Thanks for the issue, that interesting case, I'm try to think how it can be fixed w/o adding the new dependency

[2020-11-27 22:31] soft-decay commented on #35
Yes I understand that. My first idea was to solve it with pure regex, but javascript regex does not provide the PCRE recursive parameter `(?R)` (see [Regex Recursion (Matching Nested Constructs)](http://blog.stevenlevithan.com/archives/regex-recursion)). So you can only match to a predetermined depth of matching things, which could be enough.

But your comment made me realize that the matcher for

[2020-11-27 22:34] alexprey commented on #35
Ok, looks good as a quick fix. Please create PR and I'm merge it and then publish a new version 😄

[2020-11-28 00:46] alexprey commented on #35
Thanks for a fix!
I'm publish it as a version 3.0.5

[2020-11-28 00:46] #35 closed

[2020-11-28 19:14] soft-decay opened #37 "Function @'returns' is not exported in generated method item"
Adding this to `examples/Button.svelte`:

[code]
and running `yarn generate-examples` produces this in `examples/Button.json` (only showing relevant part) :

[code]

The keyword "returns" exists, but it is not parsed. I found that the v3-parser already has a `parseKeywords(keywords, event)` method, which would also work for function declarations, the only difference being that 'event' uses `params

[2020-11-29 01:02] alexprey commented on #37
Hi! Thanks for your colloboration on this library, I'm very glad to see issues and PR from you.
I already check your PR, thanks for that too!

I'm recheck code of function argument parsing and see that currently v3 parser parse only argument names w/o types and description. So, I think it can be a new issue.

I saw that you worry about different naming about `params` and `args` naming for event an

[2020-11-29 20:30] alexprey opened #39 "Information about function arguments is not parsed from method JSDoc"
Svelte3 parser is not output detailed information about function arguments that stored in JSDoc.

The following example shows the issue:
**component.svelte**
[code]
**output.json**
[code]

But expected the full information about argument, like this:
[code]

[2020-11-29 20:45] soft-decay commented on #39
I was about to open an issue for this.
I agree with you, and it should also export `optional` and `default`. If you have:

[code]

then the output would be:

[code]

I propose to override each `param` from AST parsing by the `param` with the same `name` from JSDoc parsing. If there is more `@param` than AST params, or if their `name` don't match, should we ignore or include those `@param`?

This i

[2020-11-29 21:14] alexprey commented on #39
Optional and default should be alredy done by JSDoc parser.
Lets keep both parameters for now. I think that we can introduce some additional option to the settings to change this behaviour. But for now lets keep it simple

[2020-11-29 21:44] soft-decay commented on #39
Ok, seems good. I added some comments in the `parseKeywords` method about that, but It can be removed if you would want the source code to be more succinct.

Some questions:
- I was wondering about some of the deprecated stuff in the code. Would it be a good time to remove those if you're planning a v4 release?
- About the default format of `param` in `parseParamKeyword`.
  - `name` is set to `nul

[2020-11-29 22:19] alexprey commented on #39
Yes, that is a good time to cleanup

[2020-11-29 22:28] alexprey commented on #39
When we can't parse name of parameter, so, that is ok to skip all

Actually, `default` property valuable and appliable only when `optional` property for parameter was set to `true`, instead this should be hidden. `null` or `undefined` value for this property means that default value of parameter is `null` or `undefined`.

Lets keep this optional.

When you done with your PRs I plan to review outpu

[2020-11-29 23:43] soft-decay commented on #39
I'm not totally sure about [lib/parser.js#L232](https://github.com/alexprey/sveltedoc-parser/blob/9282ac5fdedf0c73eed4bc13e4c987b23ce83c78/lib/parser.js#L232):

[code]

Should I remove this? It does not have the same format as the other, just an array of string.

[2020-11-30 01:07] soft-decay opened #41 "Remove deprecated keys for 4.0.0 release"
This is already commited in this [PR](#40) but I'm opening an issue just in case a discussion is needed on what to remove/keep/rename.

[2020-11-30 01:54] alexprey commented on #39
That a svelte2 format, looks like that I'm maintaine correctly the support of function arguments. So, you should update it with new format.

[2020-11-30 01:57] soft-decay commented on #39
Ok thanks. I ended up doing that. It's included in #40.

[2020-11-30 03:39] soft-decay opened #42 "Fix typings to match the actual exported api format"
@alexprey As you said, the typings should be updated to match the actual api.

First thing I found is :

[code]

but the exported key is actually `defaultValue` (see the [example Button](https://github.com/alexprey/sveltedoc-parser/blob/afb6115cf91144503e175b95b8bab4f7917f837b/examples/Button.json#L23)).

Which one should be kept?

[2020-11-30 13:08] alexprey commented on #42
Thanks for that catch, I'm fix it. And also update the API for default value of optional parameter

[2020-11-30 19:31] soft-decay commented on #29
I started implementing the options validation in a new branch.
So far I added `encoding` and `ignoredVisibilities` and created typings for intellisense.

- How would like the tests organized? I was thinking to put them in `unit/options/validation.spec.js`.
- Should I move the validation code to a new file? I was thinking of moving `options` related code to `lib/options.js` (mainly `validateOptions

[2020-11-30 19:48] soft-decay commented on #42
I just saw you pushed modifications for the typings, but I made a mistake when I renamed `SvelteMethodArgumentItem` to `SvelteMethodParamItem`.

It should be:

[code]

and you can delete `type SvelteArgItem` and `type SvelteArgumentItem`, I added them by mistake #40, so they were never released.

[2020-12-01 16:35] alexprey commented on #29
@soft-decay thanks for taking this task!

1. Yes, you can put tests by this path.
2. That is a great idea to move this logic at separate files. Now code structure in the parser are ugly and mostly placed in one file. I have plans to split logic by atomic modules, but not start yet.
3. Currently I don't have any feature branches open, but it's ok when start a new huge changes of the lib, like a TS

[2020-12-01 16:36] alexprey commented on #42
Ok, thanks for note about that, I'm remove this types from typings file.

[2020-12-01 19:29] soft-decay commented on #29
Quick question.

In `lib/helpers.js@loadFileStructureFromOptions` there is this check:

[code]

 for the presence of a `structure` key in options which would look something like this :

[code]

but I did not find where structure was assigned to options. In `index.js@parse`, the structure is loaded:

[code]

but then structure and options are passed around together. Is it ok if I do:

[code]

then

[2020-12-01 21:39] alexprey commented on #29
This can be used when code of component was already splitted, f.ex. when we use a svelte preprocessor or webpack plugin we have  already splitted content.
We use logic at the start of development in our build process for svelte v2 components. And this is a legacy API from original library `vuedoc-parser`, that was a base and example for first version of `sveltedoc-parser`.
Actually I'm not sure th

[2020-12-02 01:03] alexprey commented on #34
Looking for this task I found the [Babel Parser](https://babeljs.io/docs/en/babel-parser). This parser used by all babel eco-system and actually used in most of project build systems. Also this compiler output API looks very similar with espree parser that used in this project to parse scripts. The babel parser API allows parse not only code blocks, also that support parsing of simple expressions

[2020-12-02 01:04] alexprey opened #43 "Typings don't describe public methods of the library"
The typings.d.ts file are not describe library API methods and options. It should be added.

[2020-12-02 02:50] soft-decay commented on #43
I'm working on typings for the parse options as part of #29. I'll create a PR soon with the changes.

[2020-12-02 03:19] soft-decay commented on #29
Ok, I decided to assign directly to `options.structure` and remove the structure param passed around. In the end is it assigned the same in the parser constructor :

[code]

[2020-12-02 07:57] soft-decay commented on #29
I created a (pull request)[#44] for this.

I might have gone a little overboard with the options typings, but now there is pretty good autocompletion and type checking for the options object. I also documented the main parse function with a usage example.

I added basic tests for options, but maybe something more exhaustive is required.

[2020-12-03 20:07] soft-decay commented on #29
I think the next step is to start validating parser specific options (inside each parser). I checked what is already validated, and each parser uses a different approach:

- **v2-parser**
  1. `options` is assigned default values;
  2. uses a static method to validate the `options` object;
  3. The parser's properties are then set using the values from `options`;
  4. `options` object is discarded

[2020-12-06 03:56] soft-decay commented on #29
In the v2-parser constructor:

[code]

Is there a reason for this. Wouldn't it be better to set the default values to `true` instead of a try catch block?

There is also this block :

[code]

I'm not sure why that is. When `internalWalk` is executed, it will call `parseComponentName()` and then throw when it reaches `this.ast.body.forEach(...)`. Is that on purpose? I understand that it's getting c

[2020-12-06 09:22] alexprey commented on #29
Not sure that the whole block should be wrapped by feature check, because the end event should be always emitted when parsing are done

[2020-12-06 19:22] soft-decay commented on #29
I just meant to do this:

[code]

and remove the same check present at the end of `this.ast.body.forEach(...)`.

In all cases, I think I'll start putting my efforts on parser-v3 instead. It's the current version of svelte so it's probably the most used.

[2020-12-22 22:24] soft-decay commented on #34
I was wondering if you are planning on including typescript support in v4 or rather do a v4 release while working on typescript support in a separate branch?

[2020-12-22 22:56] alexprey commented on #34
I plan to release v4 tomorrow if all works well, and start playing around TS support in a new branch for v5 release

[2021-01-15 06:36] sidharthramesh commented on #34
Thank you for the great work! As of now, can I use the parser with my svelte-typescript project? I want to extract the exported props and their types into JSON. Is this supported? The current version on npm gave me an `Unexpected token` error.

[2021-01-15 08:40] alexprey commented on #34
Hi @sidharthramesh thanks! For now, typescript is not supported yet by this library, but I'm already start working on it. I hope that I can provide some workaround soon

[2021-01-15 09:15] sidharthramesh commented on #34
Thank you @alexprey. For now, I guess I'll just use regex to extract out and parse the JSDocs in a svelte file.

[2021-01-17 06:21] soft-decay commented on #1
Hi @alexprey. Hoped you had good holidays.

This is a very old issue, but I saw it was also affecting the v3 parser, so I worked on it and opened a PR (#46) for a fix.
It allows basic support for identifier parsing of events:
- can only recognize top level identifiers
- nested identifiers in `MemberExpression` have to be dot notation only (`computed` with brackets not supported)
- Supports only ne

[2021-01-17 06:43] TheComputerM commented on #41
The current output is:
[code]

It would be better if:
[code]

[2021-01-17 16:34] soft-decay commented on #41
Hi @TheComputerM,

The reason keywords are output as an array is that keywords are non-unique (e.g. a function could have 2 or more `@param`). If you have a use-case example, maybe we can find some other solution to what you are trying to do.

[2021-01-17 17:34] TheComputerM commented on #41
Oooh, understood, just thinking that it is tedious to filter out stuff like: `.filter((x) => x.name==='name')`

[2021-01-17 21:43] soft-decay opened #47 "`lastComment` is not consumed when emitted in `onopentag` of the HtmlParser callback handler"
in `onattribute`, `lastComment` is comsumed (emitted and set to `null`):

[code]

but it is only emitted in `onopentag`. It should be removed to prevent its application to other elements.

Example :
In https://svelte-materialify.vercel.app/api/TextField/, the comment '_Slot for prepend inside the input._' should only be applied to `<slot name="prepend" />` but is also applied to `<slot />`, `<slot

[2021-01-22 22:55] alexprey commented on #41
@TheComputerM I think that it is not required, it really can be usufully, but only for specific cases, so I prefer to keep structure siplier. If you want to use dictionary for accessing to keywords, you can remap values in your code and work with that. For example:

[code]

[2021-01-22 23:44] alexprey commented on #47
Hi, I'll try to look at this

[2021-01-25 15:36] #39 closed

[2021-01-25 15:36] #37 closed

[2021-01-25 15:37] #43 closed

[2021-01-25 15:37] #42 closed

[2021-01-25 15:38] #41 closed

[2021-01-25 15:38] #29 closed

[2021-01-25 16:13] alexprey commented on #34
Ok, that time is come. I'm create a branch for typescript support (`ref:typescript-support`) by this library.
I'm start with duplicating integration tests with small changes to make it writen with typescript.

The next step is provide the special API that can transpile typescript code to ES, which we can use later for parsing. This API should be similar with `svelte.preprocess` option for better i

[2021-01-25 16:49] alexprey commented on #1
At 4.0.0 point this issue are partially fixed. However to complete this issue we need more work. Not sure that supporting of left cases should be solved in the area of this library. For example - support of imported identifiers. Actually the library dont have any logic to resolve import files or analyze them. But if we can support that it will be nice.
I suppose that I can mark this isuue as low-p

[2021-01-25 17:28] soft-decay commented on #1
The bracket notation support would just be nice to have, but is not that important.

However, supporting imports parsing is a whole other story, and I feel like it should have its own separate issue. The way I see it, if the library supports the resolution and parsing of imported files, imported identifiers become top level identifiers, so the same logic can be applied to them.

What do you think

[2021-01-25 19:12] alexprey commented on #1
You are right, the imported identifiers handling looks like a new story. Keep only bracets notation in this issue and create a new one to support external references

[2021-01-25 19:32] alexprey opened #48 "Support external refereferences for event parsing"
Actually the following code returns `****undefined-event****` for dispatched event.

[code]

This issue is not key goal of the library, but it will be good if we can solve that.

I propose to implement special API to resolve event name in this case. We can implement two-leveled API:

- **FileResolve API** - resolve JS import file path to actual file path
- **IdentifierEvaluator API** - resolve JS

[2021-01-25 19:34] alexprey commented on #1
@soft-decay I create a new issue to discuss the architecture for imported identifiers - #48. I mark it with low priority, due TypeScript support is more important for that.

[2021-01-25 19:46] alexprey opened #49 "Investigate typescript integration"
Think about API to able provide functions to handle different integration, the key goal - add support of typescript, the second goal - support of another processors. For example, it can be similar like `svelte.preprocess` option, that can provide smooth integration with already exists processors.

In ideal case use TS or babel compiler that can provide information about types.

[2021-01-25 19:48] alexprey opened #50 "Write tests for typescript components"

[2021-01-25 20:29] soft-decay opened #51 "Improve documentation following v4.0.0 release"
I think it would be a good time to update the README.

I was thinking of the following changes and improvements:
- [x] Split the `Features` section into 3 subsections (Common Features, Svelte 2 Features, Svelte 3 Features)

- [x] Change the format of `Supported feature names` to a table with check marks

- [x] Add an advanced example in `Usage` to showcase some of the other options
- [x] Generate

[2021-01-25 20:50] alexprey commented on #51
Thanks, just today I look at readme and think about the same 👍

[2021-01-26 01:01] soft-decay commented on #49
After a quick look at some of the typescript compatible parsers (mainly [typescript](https://github.com/basarat/byots), [@babel/parser](https://github.com/babel/babel/tree/main/packages/babel-parser), and [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser)) its seems the one that is the closest to the currently used parser ([espree](https

[2021-01-26 01:27] alexprey commented on #49
Using the  [typescript](https://github.com/basarat/byots), and [@typescript-eslint/parser](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser) is a good at the first look and can reach out key goal.
At the same time, [@babel/parser](https://github.com/babel/babel/tree/main/packages/babel-parser) is popular and used in different projects and build processes. Also it

[2021-01-26 01:34] alexprey opened #53 "Refactor V3 parser: split parsing logic on multiple files"
Currently the most logic of svelte component parsing contains at the one file.
As a minimum plan for refactoring is: split markup and script parsing logic to different files.

[2021-01-27 17:38] soft-decay commented on #53
Hi @alexprey, I'd like to work on this.

This is the general refactoring plan I have in mind:
- Move `parseTemplate` in a separate file as a TemplateParser
- Move `parseScript` in a separate file as a ScriptParser
- TemplateParser and ScriptParser would receive a reference to Svelte3Parser in the constructor to access internal options, identifiers, etc.
- Rename the v3 parser to Svelte3Parser
- Ha

[2021-01-27 20:38] soft-decay commented on #1
I added support for bracket notation with string literals in this PR #54. I did not implement nested computed Identifier. e.g. :

[code]

[2021-01-27 21:17] alexprey commented on #1
I think that is out of scope, so ok

[2021-01-27 21:20] alexprey commented on #53
Hi, ok, I'm assign you for this task. Not sure that I'm completelly understand what you want to do. At the first looks it should be ok, but I need to mention that you should keep in mind the following:

- Script parser must can handle 2 types of scripts:
-- Module

[2021-01-27 21:33] alexprey commented on #49
I'm start to reviewing the libraries provided by @soft-decay. Due this library already used in svelte-intellisense vscode extension, so it should work fast as possible. So, I plan to do performance tests and test library APIs to usability. I hope that I can back with results in few days

[2021-01-29 02:09] soft-decay commented on #53
The refactoring is going pretty well so far. Came across this constant:

[code]

Which  is used as a condition (`parseContext.scopeType !== SCOPE_MARKUP`) in `parseBodyRecursively`.

Problem is that scopeType is never set to `SCOPE_MARKUP`, instead in `parseMarkupExpressionBlock`:

[code]

Should I attempt to remove this conditional check which seems useless?
(all tests pass with `scopeType === un

[2021-01-29 10:24] alexprey commented on #53
Heh, that looks like a mistake :) Of course it should `scopeType`. I'm recheck conditions with this constant and it used for additional syntax check and prevent variable declarations and another things for expressions, like: `<button on:click={() => { import AComponent from './AComponent'; }}>`. But actually, this case is really rarity, so I it because now it works fine, but anyway scope must be s

[2021-01-29 10:29] alexprey opened #55 "Implement typings generator"
When we done with TypeScript support, it will be very nice to have integrated typings generator.

[2021-01-29 18:12] soft-decay commented on #53
I created a draft PR #56 for this issue (there is also a brief description in the PR).

I'm not sure what I should do next.

Most of the logic has been split, but the `parseBodyRecursively` method is still really monolithic. Should I try to make it more readable by splitting it different parts, or is it out of scope?

[2021-02-01 21:08] soft-decay commented on #53
I found a bug while refactoring. The code handling _exported_ variable declarations is not the same as the code handling variable declarations (it's mostly duplicated). (If you're interested the code for non-exported is [here](https://github.com/soft-decay/sveltedoc-parser/blob/5e20900d38a6f8b72c9ddf57ba63a7e85c6d789a/lib/v3/script.js#L188) and for exported is [here](https://github.com/soft-decay/

[2021-02-02 01:56] alexprey commented on #53
Ok, I think it is ok if you can reduce code duplications. Not completlly understand about what you found. Can you create issue with that and provide test file with reproducing that?

[2021-02-02 02:02] alexprey commented on #53
About differences in parsing.
- `private` and `public` that is correct. By default, only exported items must be public.
- comment parsed anyway in for exported and non-exported variables. But for exported items it should be implemented by another way. The common logic for parse comment are placed at `parseVariableDeclaration(...)` function. This function use `VariableDeclaration` ast node for both

[2021-02-02 04:14] soft-decay commented on #53
Ok. I kept the comment from the `ExportNamedDeclaration` and passed it to the new method. The signature is:

[code]

so it handles both with and without a comment attached.

As for the bug, I fixed it in the [last commit](https://github.com/alexprey/sveltedoc-parser/pull/56/commits/232dcca46eceb695664311bfa2c15b12e32b217a) of the refactoring branch and I left some comments. I tested it by modifyin

[2021-02-02 04:25] soft-decay opened #57 "Exported events using an identifier are not parsed"
At [this line](https://github.com/alexprey/sveltedoc-parser/blob/6b3ea3d7b8e6d985a3b4ee732dc6b2d719e3aa5c/lib/v3/parser.js#L333), identifiers are added to `this.identifiers` if they are top level variable declarations.

But later in the code, there is a similar [code block](https://github.com/alexprey/sveltedoc-parser/blob/6b3ea3d7b8e6d985a3b4ee732dc6b2d719e3aa5c/lib/v3/parser.js#L375) handling va

[2021-02-02 17:12] alexprey commented on #49
Ok, I'm done with performance measurement with babel-parser, eslint-parser and direct typescript parser. I collect around 2000 source svelte files contained 1758 KB of TS & JS svelte mix.

| Parser | Error rate | Avg. per file (ms) | Speed (B/ms) |
| ------ | ---------- | ------------------ | ------------ |
| **babel** | 1.4% | 1.418 | 595.970 |
| **eslint** | 1.4% | 4.793 | 176.288 |
| **typescri

[2021-02-02 17:14] alexprey opened #58 "The parseFileStructureFromContent works wrong sometimes"
The following input of markup returns the wrong output for script blocks
[code]

[2021-02-08 09:17] Florian-Schoenherr opened #59 "(small) Add final newline?"
Either we have implemented something wrong or the parser doesn't spit out a final newline (in the generated json).
If it's on your end, it would be nice to have.
(But I actually don't know if that final newline is needed, just know it's best practice because unix)

[2021-02-08 09:28] alexprey commented on #59
Hi @Florian-Schoenherr, can you please describe in detail what you do and what you get? I'm not understand what you mean... The parser failed when works with files ended by empty line at the end, or you propose to add new empty lines to all source files in the code of parser?

[2021-02-08 09:35] Florian-Schoenherr commented on #59
Oh, sorry, I just mean after parsing there is no final newline after parsing (in the generated json).
We are doing this:
[code]
It could also be a fault of json-format.

[2021-02-08 09:39] alexprey commented on #59
Ok, thanks! The parser just provide structured object with all metadata that can be parsed. And then you can do with that anything.
You need to check your `fmt` method to ensure that it works correctly. This issue is not related to the parser.

But, anyway thanks for using it and thanks for a question!

[2021-02-08 09:43] Florian-Schoenherr commented on #59
Ah so it is a js object but when writing to a file it doesn't have a new line. Thank you!

[2021-02-08 09:43] #59 closed

[2021-02-08 18:03] soft-decay commented on #53
Hi @alexprey,

I was wondering if you checked my PR at all. I left it as a draft because I don't know if I should go beyond what I already did.

I did not refactor `parseBodyRecursively` in depth because it has a lot of interactions/coupling and it would be a full refactoring endeavor in itself (maybe another issue later?).

Anyway, PR is ready for a first review (even though it's in draft) when y

[2021-02-08 21:09] alexprey commented on #53
Hi @soft-decay I saw your PR on high level and mostly it liked by me. But I want to check it in deep, but still don't have enought time, sorry for that. I hope I can done with it on this week and we can merge it.

It's ok to keep the parseBody function, anyway it will planed to be rewrited for typescript

[2021-02-10 15:59] soft-decay commented on #58
I was browsing the Svelte issues and actually, this is not a bug:
https://github.com/sveltejs/svelte/issues/5810

[2021-02-12 15:48] alexprey commented on #53
Hi @soft-decay, I complete the review, and some improvements from my side. I'll add few comments in PR for some cases that I worred

[2021-02-12 16:15] alexprey commented on #58
The following code should be correct for svelte, but this parser failed there:
[code]

[2021-02-12 16:24] alexprey commented on #58
The test was added in `test\unit\helpers\helpers.spec.js`

[2021-02-13 14:53] alexprey commented on #47
Hi @soft-decay!
I'm fix this issue in this commit https://github.com/alexprey/sveltedoc-parser/commit/9a7bfc4b4b6d13e75a0ee294bf24040262d0e426. This commit based on refactoring branch, I'm add few simple tests for that, but it will be good if you can check fix on your examples and approve that this fix are correct.

Thanks!

[2021-02-13 15:12] alexprey opened #60 "Parse imported type from jsdoc"
The following parameter type:
[code]
parsed as `import('./typings.d.ts').ImportedObjectType`, but it's is a good to extend parameter property to have additional information about path of importing and provide the normal clear type name.
[code]

[2021-02-13 15:43] alexprey opened #61 "The JSDoc descriptions for slot props is not parsed correctly"
Look at the following examples:

[code]
In output for slot property we have only name, but ignore any description and type reading for that.

## Actual output

[code]

## Expected output

[code]

## Techinical details

Changes for this fix corelated with #47 issue. The issue #47 already has changes that will be merged soon, please start fix from branching on following commit: https://github.com/al

[2021-02-15 18:16] #53 closed

[2021-02-15 18:16] #57 closed

[2021-02-15 21:12] soft-decay commented on #60
This would be nice, but I just want to throw out there that it is not jsdoc-specific:
https://www.typescriptlang.org/docs/handbook/jsdoc-supported-types.html#import-types

Still I think it would be worthwhile addition.

[2021-02-15 22:14] alexprey commented on #60
Hm, thanks! So, I think that is better to support both formats

[2021-02-16 16:03] soft-decay commented on #47
Hi @alexprey,

Just checked and the problem is fixed in the example provided. Thanks.

[2021-02-16 17:32] alexprey commented on #47
Perfect! So! I'll merge that

[2021-02-16 17:35] #47 closed

[2021-02-17 16:30] vezwork commented on #34
Want to express that I'm looking forward to this! I'm building my svelte app with Typescript using both rollup and webpack right now and they both work, but I get complaints from `sveltedoc-parser` in the console.

[2021-02-19 12:00] alexprey commented on #61
After check the typings file, I found that it has wrong specification of slot parameters. So, it should be reworked. Thats why I mark this issue with braking label.

How it now:
[code]

But should be like following structure:
[code]

[2021-02-19 13:24] #61 closed

[2021-02-19 13:25] #60 closed

[2021-02-19 13:25] #51 closed

[2021-02-19 13:29] #1 closed

[2021-02-20 13:22] alexprey opened #64 "Library metrics"
| Version | Error rate | Avg. Parse time (ms) | Avg. Speed (B/ms) |
|---------|------------|--------------------------|---------------|
| [4.1.0](https://github.com/alexprey/sveltedoc-parser/releases/tag/4.1.0) | 3.44% (![](https://github.com/alexprey/sveltedoc-ci/raw/master/assets/down-arrow--green.png) -0.14%) | 2.00 | 924.26 (![](https://github.com/alexprey/sveltedoc-ci/raw/master/assets/down-a

[2021-04-25 11:26] TheComputerM opened #65 "Remove Svelte v2 support"
I do not think anyone is using this lib with Svelte v2 anymore, so I suggest to remove support for it as it is just additional maintenance and bloat for almost all of the users.

[2021-05-16 10:55] madeleineostoja commented on #34
This would be a big win for the new Storybook svelte story formats as well, since it currently can't infer prop types in the auto generated documentation

[2021-06-28 11:40] kwangure opened #66 "Expose component CSS custom properties"
It'd be helpful to expose custom properties inside a component for easier documentation. Particularly with the addition of the `<Component --css-var="var"/>` syntax.

It would be even more helpful if custom properties that are defined in the component (e.g `--value: 24px`) were somehow distinguishable from custom properties that are only used in the component (e.g `value : var(--from-global-scope)

[2021-08-25 16:36] ekhaled opened #67 "Specifier comments are not parsed properly"
[code]

Results in:
[code]

[2021-08-25 16:41] alexprey commented on #67
Hi @ekhaled!
Thanks for bug finding and fixing that!

[2021-08-25 16:42] #67 closed

[2021-08-25 16:43] ekhaled commented on #67
@alexprey please dont a make a release yet.. there are a couple of other edge cases like this I would like to fix first

[2021-08-25 16:45] alexprey commented on #67
@ekhaled ok, no problem. It will be nice if you can also add unit tests for all thoose edge cases. Thoose can be useful in the feture when I'm done with typescript support.

[2021-08-25 16:47] ekhaled commented on #67
@alexprey yes, will add unit tests for all the fixes

[2021-08-25 16:57] ekhaled opened #69 "Comments not parsed properly (repeated) for multipe named exports"
[code]

Results in:
[code]

[2021-08-26 15:23] ekhaled opened #72 "Module context scripts look for the wrong attribute"
According to [Svelte docs](https://svelte.dev/docs#script_context_module) module scripts are to be marked with `context="module"`.

Instead we look for `scope="module"`.

This is incorrect, and therefore does not mark static variables and methods properly when `<script context="module">` is used.

[2021-08-27 14:04] #72 closed, assigned to nobody

[2021-08-27 15:07] alexprey opened #74 "Improve type inference from AST"
In the following PR https://github.com/alexprey/sveltedoc-parser/pull/71 we introduce improvement for variable type inference, but it is not support more complex cases. For example, all arrays are not generic and all functions don't have specification.

**input:**
[code]
**expected output:**
[code]

[2021-08-27 17:31] ekhaled opened #75 "Support for ES6 assignment pattern"
This works awesome:
[code]

But having this auto-documentation will be even more awesome:

[code]

Here we can infer the parameter type as well as the default value because of the ES6 assignment pattern.
And all we have to do is supply a description in the comments

[2021-08-30 08:44] #75 closed

[2021-08-30 08:57] alexprey opened #77 "Upgrade htmlparser2 dependency to latests version"
Currently in this library we use the fork of [HtmlParser2 library](https://www.npmjs.com/package/htmlparser2-svelte) base on old version 4.1.1.

The original library release the [7.1.1](https://github.com/fb55/htmlparser2/releases/tag/v7.1.1) version with performance improvements and enchance attributes index calculation that can be useful in the parsing.

In this task required to upgrade library

[2021-08-31 12:39] ekhaled opened #78 "Enhance function expression metadata"
[code]

These `VariableDeclaration` items contain `FunctionExpression` and `ArrowFunctionExpression` within them.

We should treat these similar to `FunctionDeclaration` and make parameters and return values available in the output.

[2021-09-01 16:40] ekhaled commented on #30
@alexprey
did not want to open another issue regarding this:

How to document multiple forwarded events?

For example:
[code]

this does not seem to work.

I'm not sure what the preferred way of documenting these is.
If there is no preferred way yet, maybe I can have a look at trying to implement the above format

[2021-09-01 16:48] alexprey commented on #30
Hi @ekhaled,
That is a good question, because JSDoc is not provide clear description about that.
Actually each event description should be a separate comment group. For your example that should be:

[code]
or in HTML:
[code]

[2021-09-01 16:59] ekhaled commented on #30
I think on the js side, we have it quite covered.
We can just do:
[code]
and it works pretty well.

It's the HTML side thats causing problems.

We can use multiple comment groups, but then it introduces a line-break between each block, which might not be ideal _(for example `display:inline` elements are whitespace sensitive)_.

Also in terms of parsing, we might have trouble trying to figure out h

[2021-09-01 17:16] alexprey commented on #30
Actually, the most popular style of documentation writing of component/class behaviour that putting whole description at the top. So, for your case I think that it's OK if you profile documentation about markup fired events at the top of the component, as I provide at the first example of previous comment. And I support that support parsing of `@event` keyword in HTML comments is not important

[2021-09-03 14:01] ekhaled commented on #66
@alexprey [here is an example](https://svelte.dev/repl/181e87f5f1cd48f3968ed5d289d680ef?version=3.42.4) in the REPL

In terms of output, I think we can put this in `data` object with a custom type `<String | StyleProp>`

[2021-09-07 20:27] kafwangure commented on #66
Example library component
[code]

Example usage:
[code]

Example docs
Like this:
[code]
...but also including the `/** comment */` docs.

Depending on someone's use  case then, they can document their desired vars. For example, I imagine many will only display docs if var is `defined && used`.

I admittedly haven't thought too much about uses cases beyond what I have personally needed before.

[2021-09-08 08:59] alexprey opened #80 "Add support for Self and Trusted event modifiers"
Add support for `self` and `trusted` even modifiers
https://svelte.dev/docs#on_element_event

1. Extend `typings.d.ts`
2. Add unit tests to cover all event modifiers
3. Add support for new event modifiers if it was missed

[2021-09-08 09:06] alexprey commented on #66
Wow, miss it from official documentation! Thanks for raising the issue 😸
[Link to official docs](https://svelte.dev/docs#style_props)

So, based on it, I think that it should be a new item in `SvelteComponentDoc` and it should present a new feature `css_vars`.
[code]

From techical side it should be a new parser - `/lib/v3/style.js`. As an example you can check the template and JS parsers at `/lib

[2021-09-08 14:01] ekhaled opened #81 "Event dispatchers inside if blocks are ignored"
[code]

Here, `notify` and `start` are picked up, but `end` is completely ignored

[2021-09-08 15:17] #81 closed

[2021-09-08 15:34] ekhaled opened #83 "Default value and keywords of exported aliases not merged"
It would be nice if we could get the default values and keywords of exported aliases

[code]

Current output:
[code]

Preferred output:
[code]

[2021-09-24 14:29] alexprey commented on #83
Hi, you are completelly right!

[2021-09-24 14:37] alexprey commented on #65
Hi @TheComputerM,
Just talk about that with other developers and I think it is a good point and we can start with clear infrastructure on new major version 5.X

[2021-09-24 14:39] #83 closed

[2021-12-14 08:59] binarious commented on #49
Is there any WIP branch or workaround? We'd like to use this library in a TypeScript svelte project.

[2021-12-14 14:14] #78 closed

[2021-12-14 14:41] #80 closed

[2021-12-15 11:45] alexprey opened #85 "Add integration tests to prevent any issues with library setup"
Need to add integration tests that install library from npm package and try to parse few source files and check that is not failed.
That test need to be run in CI and prevent any issues like missing dependency in publihsed package.

[2021-12-17 17:12] alexprey commented on #49
Ok, keep going with native `typescript` library.

[2021-12-17 17:12] #49 closed

[2021-12-17 17:20] alexprey commented on #34
Hi, everyone! I'm back to work on that library and start intensive work with typescript parsing. I'm update initial task description to track progress of typescript parser implementation.

[2022-06-02 17:54] IanVS commented on #34
I wonder, could it be possible to use https://github.com/sveltejs/language-tools/tree/master/packages/svelte2tsx to get you at least part of the way to typescript support?